<h1>Organisations</h1>
<% @organisations.each do |o| %>
    <div class="index">
    <li><%= link_to o.name , o %></li>
   
    </div>
     <% end %>

     <%= link_to "Create a Organisation" , new_organisation_path %>