<h1>Organisations</h1>
<% @organisations.each do |o| %>
    <div>
    <p><li><%= link_to o.name , o %></li></p>
   
    </div>
     <% end %>

     <%= button_to "Create a Organisation" , new_organisation_path %>