// Place all the styles related to the Organisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-link {
    color: blue;
    padding: 10px;
  }
  .index{
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  

  .form {
    border: 5px solid #FFFF00;
    text-align: center;
  }